html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", "Lexend Deca";
  margin: 0;
  padding: 0;
}

.img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url("../fonts/space-mono-v11-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v11-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v11-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url("../fonts/lexend-deca-v16-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v16-latin-regular.woff") format("woff");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  width: 100%;
  max-width: 1146px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header__inner {
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 21px;
  display: flex;
}
.site-header__inner .site-header__hamburger {
  display: none;
  width: 20px;
  height: 20px;
  background-image: url(../img/hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.site-header__inner .site-header__link {
  background-color: transparent;
}
.site-header__inner .site-header__img {
  width: 107;
  height: 28px;
  transition: all 0.3s ease;
}
.site-header__inner .site-header__img:hover {
  transform: scale(1.1);
}
.site-header__inner .site-header__nav {
  max-width: 950px;
  width: 100%;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__inner .site-header__list {
  margin-left: 58px;
  display: flex;
  list-style-type: none;
  margin-right: auto;
}
.site-header__inner .site-header__item + .site-header__item {
  margin-left: 32px;
}
.site-header__inner .site-header__item-link {
  text-decoration: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}
.site-header__inner .site-header__item-link:hover {
  color: #fcb72b;
  cursor: pointer;
}
.site-header__inner .site-header__button {
  margin-left: auto;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.site-header__inner .site-header__button:hover {
  background-color: transparent;
  border: 3px solid #fcb72b;
  color: #fcb72b;
  cursor: pointer;
}

@media only screen and (max-width: 860px) {
  .site-header {
    position: relative;
  }
  .site-header .site-header__nav {
    display: none;
  }
  .site-header .site-header__hamburger {
    display: block;
    background-color: transparent;
    border: none;
  }
  .site-header .site-header__link {
    margin-left: auto;
    margin-right: auto;
  }
  .site-header .site-header__list {
    margin-left: 0px;
    margin-bottom: 339px;
  }
  .site-header .site-header--open .site-header__list {
    flex-direction: column;
  }
  .site-header .site-header--open .site-header__nav {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #333a44;
    width: 70%;
    min-height: 700px;
    left: 0;
    padding-top: 64px;
    padding-left: 32px;
    padding-bottom: 24px;
  }
  .site-header .site-header--open .site-header__hamburger {
    background-image: url(../img/exit.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
  }
  .site-header .site-header--open .site-header__item-link {
    color: #e5ecf4;
  }
  .site-header .site-header__hamburger.site-header__button {
    position: absolute;
    top: 100%;
  }
  .site-header .site-header__item + .site-header__item {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.site-header__button {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #fcb72b;
  padding: 14px 39px;
  border: 3px solid #fcb72b;
}

.site-header__button :active {
  color: #fcb72b;
  background: #ffffff;
  border: 3px solid #fcb72b;
}

.site-hero {
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.site-hero .site-hero__inner {
  padding-top: 153px;
  padding-bottom: 152px;
}
.site-hero .site-hero__paragraph {
  max-width: 500px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
  margin-bottom: 40px;
}
.site-hero .site-hero__box {
  max-width: 405px;
}
.site-hero .site-hero__img {
  margin-left: -165px;
  margin-top: 40px;
  margin-right: 57px;
}
.site-hero .site-hero__general-box {
  display: flex;
}
.site-hero .site-hero__button:active {
  color: #fcb72b;
  background-color: transparent;
  border: 3px solid #fcb72b;
  cursor: pointer;
}
.site-hero .site-hero-text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 40px;
}
.site-hero .site-hero__img-next {
  margin-top: 40px;
  margin-left: 40px;
}

@media only screen and (max-width: 785px) {
  .site-hero {
    background-image: url(../img/hero-bg-media.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .site-hero .site-hero__inner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 137px;
    padding-bottom: 217px;
    margin-left: auto;
    margin-right: auto;
  }
  .site-hero .site-hero__paragraph {
    text-align: center;
    max-width: 573px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
  .site-hero .site-hero__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-hero .site-hero__img {
    display: none;
  }
  .site-hero .site-hero__general-box {
    max-width: 573px;
    text-align: center;
    margin-left: 0px;
  }
  .site-hero .site-hero-text {
    max-width: 573px;
    text-align: center;
    margin-bottom: 32px;
  }
  .site-hero .site-hero__img-next {
    position: absolute;
    bottom: 39px;
    left: -200px;
  }
}
@media only screen and (max-width: 480px) {
  .site-hero {
    background-image: url(../img/hero-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .site-hero .site-hero__inner {
    padding-top: 115px;
    padding-bottom: 179px;
  }
  .site-hero .site-hero__paragraph {
    max-width: 311px;
    font-size: 40px;
    line-height: 40px;
  }
  .site-hero .site-hero-text {
    max-width: 311px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 34px;
  }
  .site-hero .site-hero__img-next {
    position: absolute;
    bottom: 39px;
    left: -350px;
  }
}
.services {
  background-image: url(../img/services.bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 250px) calc(50% - 90px);
}
.services .services__inner {
  padding-top: 160px;
  padding-bottom: 147px;
}
.services .services__list {
  display: flex;
  list-style-type: none;
}
.services .services__item {
  max-width: 350px;
}
.services .services__item + .services__item {
  margin-left: 30px;
}
.services .services__img {
  margin-bottom: 40px;
  width: 96px;
  height: 96px;
}
.services .services__paragraph {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 27px;
}
.services .services__text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

@media only screen and (max-width: 990px) {
  .services {
    background-image: url(../img/bg-service-column.png);
    background-repeat: no-repeat;
    background-position: calc(50% - 220px) calc(50% - 200px);
    background-size: contain;
  }
  .services .services__inner {
    padding-left: 40px;
  }
  .services .services__list {
    flex-direction: column;
    align-items: center;
  }
  .services .services__item {
    max-width: 573px;
    display: flex;
    align-items: center;
  }
  .services .services__item + .services__item {
    margin-left: 0px;
    margin-top: 74px;
  }
  .services .services__img {
    margin-right: 79px;
  }
}
@media only screen and (max-width: 650px) {
  .services {
    background-image: url(../img/bg-service-column.png);
    background-repeat: no-repeat;
    background-position: calc(50% - 520px) calc(50% - 200px);
    background-size: contain;
  }
  .services .services__inner {
    padding-left: 0px;
    padding-top: 120px;
    padding-bottom: 83px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .services .services__item {
    flex-direction: column;
    align-items: center;
  }
  .services .services__img {
    width: 56px;
    height: 56px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .services .services__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services .services__paragraph {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 24px;
  }
  .services .services__text {
    text-align: center;
  }
}
.about .about__inner {
  padding-bottom: 178px;
}
.about .about__img {
  background-color: transparent;
}
.about .about__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about__box + .about__box {
  margin-top: 200px;
}
.about .about__box-in {
  max-width: 445px;
}
.about .about__box-start {
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: right -350px top;
}
.about .about__box-next {
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: left -350px top;
}
.about .about__box-continue {
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: right -350px top;
}
.about .about__paragraph {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-bottom: 24px;
}
.about .about__text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin-bottom: 40px;
}
.about .about__button:active {
  color: #fcb72b;
  background-color: transparent;
  border: 3px solid #fcb72b;
  cursor: pointer;
}
.about .about__img-continue {
  right: auto;
}

@media only screen and (max-width: 1050px) {
  .about .about__img {
    background-color: transparent;
    margin-bottom: 56px;
  }
  .about .about__box-start {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-position: right -300px top;
  }
  .about .about__box-next {
    display: flex;
    flex-direction: column;
  }
  .about .about__box-continue {
    display: flex;
    flex-direction: column-reverse;
  }
  .about .about__box + .about__box {
    margin-top: 100px;
  }
  .about .about__box-in {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .about__paragraph {
    text-align: center;
  }
  .about .about__img-next {
    margin-right: 150px;
  }
  .about .about__img-continue {
    margin-left: 130px;
  }
  .about .about__text {
    max-width: 573px;
    text-align: center;
  }
}
@media only screen and (max-width: 680px) {
  .about .about__img {
    width: 300px;
    height: 230px;
  }
  .about .about__box-start {
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-position: right -750px top;
  }
  .about .about__box-next {
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-position: left -750px top;
  }
  .about .about__box-continue {
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-position: right -750px top;
  }
  .about .about__paragraph {
    font-size: 32px;
    line-height: 32px;
  }
  .about .about__img-next {
    margin-right: 0px;
  }
  .about .about__img-continue {
    margin-left: 0px;
  }
  .about .about__text {
    font-size: 15px;
    line-height: 25px;
  }
}
.connect {
  background: #495567;
  background-image: url(../img/connect.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 190px) bottom;
}
.connect .connect__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 102px;
  padding-bottom: 102px;
}
.connect .connect__paragraph {
  max-width: 415px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
  letter-spacing: -2.14286px;
  color: #ffffff;
}
.connect .connect__paragraph .connect__box-in-other {
  max-width: 130;
  height: 50px;
}
.connect .connect__box {
  display: flex;
}
.connect .connect__box-in {
  display: flex;
  align-items: center;
  background-color: #e5ecf4;
  border-radius: 4px;
  padding: 8px 11px 9px 12px;
  width: 139px;
  height: 50px;
}
.connect .connect__box-in + .connect__box-in {
  margin-left: 10px;
}
.connect .connect__img {
  margin-right: 11px;
}
.connect .connect__box-next {
  margin-left: 11px;
  font-size: 10px;
  line-height: 15px;
  color: #495567;
}
.connect .connect__p {
  font-family: "Space Mono";
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  color: #495567;
}
.connect .connect__p .connect__box-in-other {
  max-width: 130;
  height: 50px;
}
.connect .connect__text {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #495567;
}
.connect .connect__box-in-other {
  width: 152px;
}
.connect .connect__app-store-link {
  text-decoration: none;
  margin-right: 10px;
}
.connect .connect__google-play {
  text-decoration: none;
}

@media only screen and (max-width: 950px) {
  .connect {
    background-image: url(../img/connect.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 0px) bottom;
  }
  .connect .connect__inner {
    flex-direction: column;
    align-items: center;
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .connect .connect__paragraph {
    text-align: center;
    max-width: 457px;
    margin-bottom: 40px;
  }
  .connect .connect__box-in-other {
    max-width: 130;
    height: 50px;
  }
  .connect .connect__box-in {
    max-width: 113;
    height: 50px;
    padding: 8px 11px 6px 12px;
  }
  .connect .connect__img {
    width: 17px;
    height: 19px;
  }
  .connect .connect__box-in-other {
    max-width: 130;
    height: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .connect {
    background-image: url(../img/connect.png);
    background-repeat: no-repeat;
    background-position: calc(50% - 250px) bottom;
  }
  .connect .connect__inner {
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
    padding-bottom: 88px;
  }
  .connect .connect__paragraph {
    text-align: center;
    max-width: 311px;
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 32px;
  }
  .connect .connect__box-in + .connect__box-in {
    margin-left: 10px;
  }
  .connect .connect__box-in {
    max-width: 113;
    padding: 8px 11px 6px 12px;
  }
  .connect .connect__box-in :last-child {
    margin-right: 0;
  }
  .connect .connect__img {
    width: 13px;
    height: 12px;
  }
  .connect .connect__box-in-other {
    max-width: 130;
  }
}
.site-footer {
  background: #333a44;
}
.site-footer .site-footer__inner {
  display: flex;
  padding-top: 35px;
  padding-bottom: 32px;
  align-items: center;
}
.site-footer .site-footer__link {
  background-color: transparent;
}
.site-footer .site-footer__img {
  width: 107px;
  height: 28px;
  margin-right: 58px;
}
.site-footer .site-footer__list {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.site-footer .site-footer__item + .site-footer__item {
  margin-left: 32px;
}
.site-footer .site-footer__item-link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  text-decoration: none;
}
.site-footer .site-footer__item-link:hover {
  color: #fcb72b;
}
.site-footer .site-footer__end-list {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  align-items: center;
}
.site-footer .site-footer__end-item + .site-footer__end-item {
  margin-left: 24px;
}
.site-footer .site-footer__img-hover :hover {
  fill: #e5ecf4;
}

@media only screen and (max-width: 600px) {
  .site-footer .site-footer__inner {
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 88px;
  }
  .site-footer .site-footer__link {
    background-color: transparent;
  }
  .site-footer .site-footer__img {
    margin-right: 0px;
  }
  .site-footer .site-footer__list {
    flex-direction: column;
    margin-bottom: 87px;
    margin-top: 41px;
  }
  .site-footer .site-footer__item + .site-footer__item {
    margin-left: 0px;
    margin-top: 16px;
  }
  .site-footer .site-footer__end-list {
    margin-right: auto;
  }
}
.page2-wrapper {
  height: 200px;
  background-image: url(../../img/Bitmap.png);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  padding-top: 20px;
  background-size: cover;
}

.page2-heading {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #ffffff;
  padding-top: 50px;
}

.page2-sec3-heading {
  max-width: 445px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
}

.page2-sec3-text {
  max-width: 445px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin-top: 15px;
}

.page2-sec3 {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../../img/Group15.png);
  background-repeat: no-repeat;
  background-size: 764px 400px;
  background-position: calc(50% + 377px);
}

.page2-sec3-2 {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../../img/person.png);
  background-repeat: no-repeat;
  background-size: 764px 400px;
  background-position: calc(50% + 377px);
}

@media only screen and (max-width: 1046px) {
  .page2-sec3-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .page2-sec3-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .page2-sec3 {
    padding-bottom: 500px;
    background-position-y: 86%;
    background-position-x: 50%;
  }
  .page2-sec3-2 {
    padding-bottom: 500px;
    background-position-y: 86%;
    background-position-x: 50%;
  }
  .page2-wrapper {
    text-align: center;
  }
}
@media only screen and (max-width: 783px) {
  .page2-sec3 {
    background-size: 600px auto;
  }
  .page2-sec3-2 {
    background-size: 600px auto;
  }
}
@media only screen and (max-width: 609px) {
  .page2-sec3 {
    background-size: 500px auto;
    padding-top: 100px;
    padding-bottom: 400px;
  }
  .page2-sec3-2 {
    background-size: 500px auto;
    padding-top: 100px;
    padding-bottom: 400px;
  }
}
@media only screen and (max-width: 512px) {
  .page2-sec3 {
    background-size: 400px auto;
    padding-top: 80px;
    padding-bottom: 300px;
  }
  .page2-sec3-2 {
    background-size: 400px auto;
    padding-top: 80px;
    padding-bottom: 300px;
  }
  .page2-sec3-heading {
    font-size: 40px;
  }
  .page2-sec3-text {
    font-size: 13px;
  }
}
@media only screen and (max-width: 418px) {
  .page2-sec3 {
    background-size: 300px auto;
    padding-top: 80px;
    padding-bottom: 300px;
  }
  .page2-sec3-2 {
    background-size: 300px auto;
    padding-top: 80px;
    padding-bottom: 300px;
  }
  .page2-sec3-heading {
    font-size: 37px;
  }
  .page2-sec3-text {
    font-size: 13px;
  }
}
.sec4-wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../../img/Group14.png);
  background-repeat: no-repeat;
  background-size: 600px 400px;
  background-position: calc(50% - 454px);
}

.sec4-inner {
  max-width: 445px;
  margin-left: auto;
}

.sec4-heading {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
}

.sec4-text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin-top: 20px;
}

@media only screen and (max-width: 1235px) {
  .sec4-wrapper {
    background-position: calc(50% - 281px);
  }
}
@media only screen and (max-width: 1029px) {
  .sec4-wrapper {
    background-position: 50%;
    background-position-y: 83%;
  }
  .sec4-inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .sec4-wrapper {
    padding-top: 20px;
    padding-bottom: 500px;
  }
}
@media only screen and (max-width: 639px) {
  .sec4-wrapper {
    background-size: 500px auto;
    background-position: 50%;
    background-position-y: 83%;
  }
}
@media only screen and (max-width: 519px) {
  .sec4-wrapper {
    background-size: 400px auto;
    background-position: 50%;
    background-position-y: 83%;
  }
  .sec4-inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .sec4-heading {
    font-size: 40px;
  }
  .sec4-wrapper {
    padding-top: 20px;
    padding-bottom: 400px;
  }
}
@media only screen and (max-width: 432px) {
  .sec4-wrapper {
    background-size: 300px auto;
    background-position: 50%;
    background-position-y: 83%;
  }
  .sec4-inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .sec4-wrapper {
    padding-top: 20px;
    padding-bottom: 400px;
  }
  .sec4-heading {
    font-size: 37px;
  }
}
.sec5-heading {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #495567;
  padding-top: 50px;
}

.sec5-inner-heading {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #495567;
  margin-top: 10px;
}

.sec5-text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
  margin-top: 10px;
}

.sec5-box {
  max-width: 350px;
}

.sec5-box-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1102px) {
  .sec5-box-1 {
    flex-direction: column;
  }
  .sec5-box {
    text-align: center;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1102px) {
  .sec5-img {
    width: 250px;
    height: auto;
  }
}
.sec6-heading {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #495567;
}

.sec6-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sec6-boxs {
  width: 730px;
  height: 191px;
  background: #f2f5f9;
  padding: 32px 40px 32px 40px;
}

.sec6-boxs-2 {
  width: 730px;
  height: 92px;
  background: #f2f5f9;
  padding: 32px 40px 32px 40px;
  margin-top: 25px;
}

.sec6-heading-inner {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #495567;
  position: relative;
}

.sec6-heading-inner-2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #495567;
  position: relative;
}

.sec6-heading-inner-2::after {
  width: 18px;
  height: 13px;
  background-image: url(../../img/Path3\(1\).svg);
  content: "";
  position: absolute;
  right: 0;
  cursor: pointer;
  background-repeat: no-repeat;
}

.sec6-heading-inner::after {
  width: 18px;
  height: 13px;
  background-image: url(../../img/Path3.svg);
  content: "";
  position: absolute;
  right: 0;
  cursor: pointer;
  background-repeat: no-repeat;
}

.sec6-text-inner {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
  padding-top: 20px;
}

.btn {
  width: 180px;
  height: 53px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #fcb72b;
  border: none;
  padding: 10px 22px 10px 22px;
  margin-top: 20px;
  border-radius: 5px;
}

.btn:hover {
  width: 180px;
  height: 53px;
  color: #fcb72b;
  background: #ffffff;
  border: 2px solid #fcb72b;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1046px) {
  .sec6-flex {
    flex-direction: column;
  }
  .sec6-boxs {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .sec6-boxs-2 {
    margin-left: auto;
    margin-right: auto;
  }
  .sec6-heading {
    text-align: center;
  }
  .bnnama {
    text-align: center;
  }
}
@media only screen and (max-width: 775px) {
  .sec6-boxs {
    width: 600px;
  }
  .sec6-boxs-2 {
    width: 600px;
  }
  .bnnama {
    text-align: center;
  }
}
@media only screen and (max-width: 643px) {
  .sec6-boxs {
    width: 500px;
  }
  .sec6-boxs-2 {
    width: 500px;
  }
  .sec6-text-inner {
    font-size: 12px;
  }
  .bnnama {
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .sec6-boxs {
    padding: 10px;
    width: 400px;
  }
  .sec6-boxs-2 {
    width: 400px;
    padding: 15px;
  }
  .sec6-text-inner {
    font-size: 12px;
  }
  .bnnama {
    text-align: center;
  }
}
@media only screen and (max-width: 438px) {
  .sec6-boxs {
    padding: 10px;
    width: 290px;
  }
  .sec6-boxs-2 {
    width: 290px;
    padding: 15px;
  }
  .sec6-text-inner {
    padding-top: 5px;
  }
  .sec6-heading-inner {
    font-size: 15px;
  }
  .sec6-heading-inner-2 {
    width: 234px;
    font-size: 15px;
  }
  .sec6-heading {
    text-align: center;
    font-size: 30px;
  }
  .bnnama {
    text-align: center;
  }
}
.box-wrapper-page3 {
  padding-top: 30px;
  padding-bottom: 50px;
}

.heading-page3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #495567;
}

.text-page3 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

.btn-page3 {
  width: 180px;
  height: 53px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #fcb72b;
  border: none;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.btn-page3:hover {
  width: 180px;
  height: 53px;
  color: #fcb72b;
  background: #ffffff;
  border: 2px solid #fcb72b;
}

.page3-box {
  max-width: 1110px;
  height: 128px;
  padding: 32px 40px 32px 40px;
  background: #f2f5f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media only screen and (max-width: 625px) {
  .page3-box {
    height: 150px;
    padding: 22px 40px 32px 40px;
    flex-direction: column;
    text-align: center;
  }
  .btn-page3 {
    margin-top: 10px;
  }
  .heading-page3 {
    font-size: 20px;
  }
}
.page4-img {
  padding: 100px 0 100px 0;
}

.page4-img-2 {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.page4-heading {
  width: 351px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
}

.page4-text {
  width: 445px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.page4-btn {
  width: 180px;
  height: 53px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  background: #fcb72b;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.page4-btn:hover {
  background: #ffffff;
  color: #fcb72b;
  border: 2px solid #fcb72b;
  transition: all 0.3s ease;
}

.page4-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
}

@media only screen and (max-width: 1049px) {
  .page4-box {
    flex-direction: column;
    text-align: center;
  }
  .page4-heading {
    width: 100%;
    margin-bottom: 20px;
  }
  .page4-text {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 456px) {
  .page4-heading {
    font-size: 38px;
  }
  .page4-text {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */