.site-header__button {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #fcb72b;
  padding: 14px 39px;
  border: 3px solid #fcb72b;
}

.site-header__button :active {
  color: #fcb72b;
  background: #ffffff;
  border: 3px solid #fcb72b;
}
