.page4-img {
  padding: 100px 0 100px 0;
}

.page4-img-2 {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.page4-heading {
  width: 351px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
}

.page4-text {
  width: 445px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.page4-btn {
  width: 180px;
  height: 53px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  background: #fcb72b;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.page4-btn:hover {
  background: #ffffff;
  color: #fcb72b;
  border: 2px solid #fcb72b;
  transition: all 0.3s ease;
}

.page4-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
}

@media only screen and (max-width: 1049px) {
  .page4-box {
    flex-direction: column;
    text-align: center;
  }
  .page4-heading {
    width: 100%;
    margin-bottom: 20px;
  }
  .page4-text {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 456px) {
  .page4-heading {
    font-size: 38px;
  }
  .page4-text {
    font-size: 12px;
  }
}
